# Iris Dataset
***

My analysis of the Iris dataset.

To do:  
1. Outputs a summary of each variable to a single text file,  
2. Saves a histogram of each variable to png files, and  
3. Outputs a scatter plot of each pair of variables.  
4. Performs any other analysis you think is appropriate.

# Load the dataset
***

In [33]:
import pandas as pd

iris = pd.read_excel('/Users/davidosullivan/Desktop/pands/pands-project/pands-project/iris_dataset.xlsx')

iris.head()

   sepal length  sepal width  petal length  petal width  class       target
0           5.1          3.5           1.4          0.2    NaN  Iris-setosa
1           4.9          3.0           1.4          0.2    NaN  Iris-setosa
2           4.7          3.2           1.3          0.2    NaN  Iris-setosa
3           4.6          3.1           1.5          0.2    NaN  Iris-setosa
4           5.0          3.6           1.4          0.2    NaN  Iris-setosa

# Clean the data
***

In [34]:
# Convert certain columns to categories for memory efficiency

iris['target'] = iris['target'].astype('category') 
iris['target'].info

<bound method Series.info of 0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: target, Length: 150, dtype: category
Categories (3, object): ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']>

In [35]:
# Use fillna function to account for null values

iris['sepal length'] = iris['sepal length'].fillna(0) 
iris['sepal width'] = iris['sepal width'].fillna(0)
iris['petal length'] = iris['petal length'].fillna(0) 
iris['petal width'] = iris['petal width'].fillna(0)

In [36]:
# Change 'target' to 'species' and drop class column 
iris.rename(columns={'target':'species'},inplace=True)
iris.drop(columns={'class'}, inplace=True)

In [40]:
# Remove "Iris-" from the 'species' column
iris['species'] = iris['species'].str.replace('Iris-', '')

iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [41]:
# Use .head to ensure changes implemented properly
iris.head()

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa